<!DOCTYPE html>
<html>
<title>Qcm</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% block extralinks %}
{% endblock %}
{% block style %}
{% endblock style %}
<body class="w3-content w3-margin-top" style="max-width:500px">
{% block content %}
{% endblock %}
</body>
</html>
