{% extends "base.html" %}
{% block content %}
<section class="w3-display-container"> 
   <div class="w3-container w3-indigo">
          <h2>Pasquizz</h2>
   </div>
   <div class="w3-container">
       <p>
       Pour commencer un test, utilisez le lien d'activation
       que vous avez reçu.
       </p>

       {% if token_link %}
       <p>
       Vous pouvez aussi obtenir un lien sur
       <a href="{{ 'api_token'|url_protected(1) }}">cette page</a>.
       </p>
       {% endif %}
   </div>
</section>
{% endblock content %}
