{% extends "base.html" %}
{% block content %}
<section class="w3-display-container"> 
   <div class="w3-container w3-indigo">
          <h2>Pasquizz</h2>
   </div>
   <div class="w3-container">
       <p>
       Pour commencer un test, utilisez le lien d'activation
       que vous avez reçu.
       </p>

       <p>
       Sur cette version de test, vous pouvez aussi vous 
       obtenir un lien sur
       <a href="{{ url_for('api_token',token=1|token('api_token'))  }}">cette page</a>.
       </p>
   </div>
</section>
{% endblock content %}
