{% extends "card.html" %}
{% block top %}
    <h2>Question {{ this.number + 1 }}</h2>
{% endblock %}
{% block middle %}
<form class="w3-container" action="{{ url_for('api_answer') }}" method="get">
    <input type="hidden" name="token" value="{{ this.info|token('api_answer') }}">
    <p>
    {{ this.question.text }}
    </p>
    <ul class="w3-ul w3-border">
        {% for choice in this.choices %}
        <li>
            <input {#class="w3-radio"#}
        type="radio" name="choice"
                     value="{{ loop.index0 }}"
                     {% if loop.index0 == this.selected %} checked {% endif %}
                     {% if this.disabled %} disabled {% endif %}
                     required>
            <label>{{ choice.text }}</label>
        </li>
        {% endfor %}
    </ul>
    <p>
    <div class="w3-bar">
        {% set u,a = this.info[0],this.info[1] %}
        {#
        {% for i in range(this.number) %}
        <a href="{{ 'api_question'|url_protected((u,a,i)) }}" class="w3-button w3-hover-indigo">{{ i }}</a>
        {% endfor %}
        #}
        {% if this.number > 0 %}
        <a href="{{ 'api_question'|url_protected((u,a,this.number-1)) }}" class="w3-button w3-hover-indigo">&laquo;</a>
        {% endif %}
        <button type="submit" {% if this.disabled %} disabled {% endif %} class="w3-btn w3-padding w3-indigo" style="width:120px">
            {% if config.lang == 'fr' %}Suivant{% else %}Next{% endif %} &nbsp; &#10095;
        </button>
    </div>
    </p>
</form>
{% endblock %}

{% block extralinks %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/contrib/auto-render.min.js"
              integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI"
              crossorigin="anonymous"
              onload='renderMathInElement(document.body,{
              delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false},
              ],
              macros: {
                "\\pgcd": "\\operatorname{pgcd}",
                "\\ppcm": "\\operatorname{ppcm}",
                "\\F": "\\mathbb{F}",
              },
              });'></script>
{% endblock %}
{% block style %}
<style>
input.faCheck {
    visibility: hidden;
}
input.faCheck:checked:after, input.faCheck:after {
    visibility: visible;
    font-family: FontAwesome;
    font-size:25px;height: 17px; width: 17px;
    position: relative;
    top: -3px;
    left: 0px;
    background-color:#FFF;
    display: inline-block;
}

input.faCheck:checked:after {
      content: '\f058';
}

input.faCheck:after {
      content: '\f10c';
}
</style>
{% endblock style %}


