{% extends "base.html" %}
{% block content %}
<section class="w3-display-container"> 
   <div class="w3-container w3-indigo">
          <h2>Registration</h2>
   </div>
   <form class="w3-container" action="{{ url_for('api_register') }}" method="get">
     <input type="hidden" name="token" value="{{ auth|token('api_register') }}">
     <p>Bienvenue.
     Veuillez entrer votre nom ci-dessous avant de commencer.
     </p>
     <p><input class="w3-input" type="text" name="name" required>
     <label>Nom</label>
     </p>
     <p>
     Une fois le test lancé, vous avez 10 minutes pour effectuer le questionnaire.
     N'oubliez pas de le valider.
     </p>
     <p>
     <button type="submit" class="w3-btn w3-padding w3-indigo" style="width:120px">Commencer &nbsp; &#10095;</button>
     </p>
   </form>
</section>
{% endblock %}
